<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/homeCliente"></ion-back-button>
    </ion-buttons>
    <ion-title>galeria-post</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [scrollY]="true" style="border:2; border-color: gray;">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">galeria-post</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [scrollY]="true" style="border:2; border-color: gray;">

    <ion-card class="card">
      <p class="title">Noticias y Novedades</p>
      <div class="user__container">
        <div *ngFor="let producto of productosLista" class="user">
          <ion-thumbnail slot="start" >
            <img class="image" [src]="producto.imagen" alt="Imagen de los Productos">
          </ion-thumbnail>
          <ion-label class="user__content">
            <div class="text">
              <span class="name">{{ producto.title }}</span>
              <p class="username">Descripcion Producto:{{ producto.description }}</p>
              <p class="username">Stock: {{ producto.stock }}</p>

            </div>
            <button ion-button clear class="follow">${{ producto.precio }}</button>
          </ion-label>
        </div>
      </div>
    </ion-card>

  </ion-content>

  </ion-content>
