/* Estilos generales */
//////////////////////////////////////Cuerpo////////////////////////////////////////////
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; 
    color: #333; 
    margin: 0;
    padding: 0;
  }
  ///////////////////////////////////////////////////////////////////////////////////
  h1 {
    text-align: center;
  }
  
  ////////////////////////////////Diseño Boton////////////////////////////////////////
  .buttons-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
  }
    ///////////////////////////////////////////////////////////////////////////////////
    
      ///////////////////////////////Diseño Profundidad Botones////////////////////////////////////////////////////
  #button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #444; 
    color: #fff; 
    cursor: pointer;
  }
    ///////////////////////////////////////////////////////////////////////////////////

  /* Efecto hover */
  .button:hover  {
    background-color: #666; 
    ///////Cambiar a claro cuando se pasa el mouse//////////
  }
  ///////////////////////////////////////////////////////////////////////////////////////////

    //////////////////////////////////////Carta/////////////////////////////////////////////
  
    ion-item {
      margin-bottom: 15px;
    }

    .avatar-container {
      display: flex;
      justify-content: center;
      margin-bottom: 20px; /* Espacio bajo el avatar */
    }
    
    .avatar-img {
      width: auto; /* Ancho deseado para la imagen */
      height: auto; /* Altura deseada para la imagen */
      object-fit: cover; /* Ajusta la imagen para cubrir el contenedor */
      border-radius: 50%; /* Para hacerla redonda */
    }

    


    .botones-container {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      
    }

    ion-button{
      --background: #00bfd8;
    }
    
    
    ///////////////////////////////////////////////////////////////////////////////////