<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/homeCliente"></ion-back-button>
    </ion-buttons>
    
    <ion-title>
      Editar Información
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="accederConfiguracion()">
        <ion-icon slot="icon-only" name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content has-header="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">configuracion</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <ion-back-button defaultHref="/homeCliente"></ion-back-button> -->

  <ion-card id="content">
    <div class="avatar-container">
      <ion-avatar>
        <img src="https://avatars.cloudflare.steamstatic.com/cceaf4f1a10b081cb000073cf8c13aa326fd4b29_full.jpg" class="avatar-img"> <!-- Ruta a tu imagen de avatar -->
      </ion-avatar>
    </div>
  
    <ion-card-content>
      <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="nombre" [disabled]="!editando"></ion-input>
      <ion-label position="floating">Apellido</ion-label>
      <ion-input [(ngModel)]="nombre" [disabled]="!editando"></ion-input>
      <ion-label position="floating">Edad</ion-label>
      <ion-input type="number" [(ngModel)]="edad" [disabled]="!editando"></ion-input>
      <ion-label position="floating">Numero de telefono</ion-label>
      <ion-input type="number" [(ngModel)]="edad" [disabled]="!editando"></ion-input>
      <ion-label position="floating">Correo</ion-label>
      <ion-input type="email" errorText="Correo invalido" [(ngModel)]="correo" ngmodel email [disabled]="!editando"
></ion-input>


      
    </ion-item>
    </ion-card-content>
    <div class="botones-container">
      <ion-button shape="round" expand="block" (click)="toggleEdicion()">
        {{ editando ? 'Finalizar Edición' : 'Editar Información' }}
      </ion-button>
  
      <ion-button shape="round" expand="block" (click)="guardarInfo()" [disabled]="!editando">
        Guardar Cambios
      </ion-button>
    </div>
  </ion-card>

</ion-content>
