<!-- carrito-cliente.page.html -->

<!-- carrito-cliente.page.html -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/homeCliente"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Productos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list >
    <ion-item *ngFor="let product of products" >
      <ion-card class="card">
        <img [src]="product.imagen" alt="Sin Imagen Producto">
      <ion-thumbnail slot="start">

      </ion-thumbnail>
      <ion-label>
        <h2>{{ product.title }}</h2>
        <p>{{ product.description }}</p>
        <h3>${{ product.precio }}</h3>
        <p>Stock disponible: {{ product.stockDisponible }}</p>
      </ion-label>
      <div class="button-group">
        <ion-button (click)="addToCart(product)">Agregar al carrito</ion-button>
        <ion-button (click)="removeFromCart(product.id)">Quitar del carrito</ion-button>
      </div>
    </ion-card>
    </ion-item>
  </ion-list>
</ion-content>

  <ion-footer>
    <ion-toolbar>
      <ion-title>Total: ${{ getTotal() }}</ion-title>
      <div class="button-group">
        <ion-button (click)="comprar()">Comprar</ion-button>
        <ion-button (click)="clearCart()">Limpiar Carrito</ion-button>
      </div>
    </ion-toolbar>
  </ion-footer>
