<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/login-cliente"></ion-back-button>
    </ion-buttons>
    <ion-title>Registro Vendedor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <br>
  <div>
    <h1 style="text-align: center;">TTApp</h1>
  </div>
  <br>

  <form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Nombre</ion-label>
        <ion-input formControlName="nombre" placeholder="Ingresar Nombre Cliente" value="Juan Pérez"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Rut</ion-label>
        <ion-input formControlName="rut" placeholder="Ingresar Rut Cliente" value="12345678-9"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Contraseña</ion-label>
        <ion-input type="password" formControlName="password" placeholder="Ingresar Contraseña" value="123456"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Repetir Contraseña</ion-label>
        <ion-input type="password" formControlName="password2" placeholder="Repetir Contraseña" value="123456"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input type="email" formControlName="email" placeholder="xxxxxx@email.com" value="juan@example.com"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Teléfono</ion-label>
        <ion-input type="tel" formControlName="telefono" placeholder="Ingresar Teléfono" value="123456789"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Dirección</ion-label>
        <ion-input formControlName="direccion" placeholder="Ingresar Dirección de Envío" value="Calle Principal 123"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Ciudad</ion-label>
        <ion-input formControlName="ciudad" placeholder="Ingresar Ciudad" value="Santiago"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Código Postal</ion-label>
        <ion-input formControlName="codigoPostal" placeholder="Ingresar Código Postal" value="12345"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Nombre Empresa</ion-label>
        <ion-input formControlName="nombreNegocio" placeholder="Nombre de la Empresa" value="Nombre de las Empresa"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Rut Empresa</ion-label>
        <ion-input formControlName="rutNegocio" placeholder="Rut de la Empresa" value="12345"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Telefono Empresa</ion-label>
        <ion-input formControlName="telefonoNegocio" placeholder="Telefono de la Empresa" value="12345"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">UrlEmpresa</ion-label>
        <ion-input formControlName="urlNegocio" placeholder="Url de la pagina de la Empresa" value="12345"></ion-input>
      </ion-item>

      <br>

    </ion-list>

    <br>
    <br>
    <div>
      <ion-button type="submit" expand="block" [disabled]="registroForm.valid">Crear Cuenta</ion-button>
    </div>
  </form>
</ion-content>
