<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Buscar Clientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title>Buscar Clientes</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label position="floating">RUT del Cliente</ion-label>
    <ion-input [(ngModel)]="rut" (ionInput)="buscarClientes()"></ion-input>
  </ion-item>

  <ion-list>
    <ion-item *ngFor="let cliente of clientes" (click)="irAlChat('cliente', cliente.rut)">
      <ion-label>{{ cliente.rut }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
