<!-- login-cliente.page.html -->

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/intro"></ion-back-button>
    </ion-buttons>
    <ion-title>loginCliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="form">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">loginCliente</ion-title>
    </ion-toolbar>
  </ion-header>

  <br>
  <div>
    <h1 style="text-align: center;">TTApp</h1>
  </div>
  <br>

  <ion-list class="transparente" >
    <ion-item class="field transparent-item">
      <ion-input label="Rut Cliente" placeholder="Ingrese su rut" [(ngModel)]="rut"></ion-input>
    </ion-item>
    <ion-item class="field transparent-item">
      <ion-input label="Contraseña" type="password" placeholder="Ingrese su contraseña" [(ngModel)]="password"></ion-input>
    </ion-item>
  </ion-list>

  <br>
  <button class="button3 btn" type="button" expand="block" (click)="login()">Ingresar</button>
  <br>
  <br>
  <div>
    <button class="button3 btn" routerLink="/registro-cliente" type="button" expand="block">Registrarse</button>
  </div>
</ion-content>

<ion-footer collapse="fade">
  <ion-toolbar>
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>
