<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/intro"></ion-back-button>
    </ion-buttons>
    <ion-title>loginVendedor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="form">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">loginVendedor</ion-title>
    </ion-toolbar>
  </ion-header>
<br>
<div>
  <h1 style="text-align: center;">TTApp</h1>
</div>
<br>

  <ion-list class="transparente">
    <ion-list class="transparente">
      <ion-item class="field transparent-item">
        <ion-input label="RutVendedor" placeholder="Ingrese su rut" [(ngModel)]="rut"></ion-input>
      </ion-item>

      <ion-item class="field transparent-item">
        <ion-input label="Contraseña" type="password" placeholder="Inngrese su contraseña" value="password" [(ngModel)]="password"></ion-input>
      </ion-item>

    </ion-list>
    <br>
    <button class="button3" type="button" expand="block" (click)="login()">Ingresar</button>
  </ion-list>
  <br>
  <br>
  <div >
    <button  class="button3" routerLink="/registro-vendedor" type="button" expand="block">Registrarse</button>
  </div>
</ion-content>

<ion-footer collapse="fade">
  <ion-toolbar>
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>
