<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/homeCliente"></ion-back-button>
    </ion-buttons>
    <ion-title>compra-bodega</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">compra-bodega</ion-title>
    </ion-toolbar>
  </ion-header>


  <h1>Bodega</h1>

<div class="order-list">
  <!-- Pedido 1 -->
  <div class="order-card">
    <h2>Pedido #1</h2>
    <div class="products">
      <!-- Producto 1 -->
      <div class="product-card">
        <h3>Producto:</h3>
        <p>Descripción del producto:</p>
        <p>Precio:</p>
      </div>
      <!-- Producto 2 -->
      <div class="product-card">
        <h3>Producto:</h3>
        <p>Descripción del producto:</p>
        <p>Precio:</p>
      </div>
    </div>
  </div>

  <!-- Pedido 2 -->
  <div class="order-card">
    <h2>Pedido #2</h2>
    <div class="products">
      <!-- Producto 1 -->
      <div class="product-card">
        <h3>Producto:</h3>
        <p>Descripción del producto:</p>
        <p>Precio:</p>
      </div>
    </div>
  </div>

  <!-- Agrega más pedidos -->

</div>

</ion-content>
