
.spinner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  h1 {
    font-size: 24px;
    margin-top: 10px;
  }
  
  /* Efecto 3D */
  ion-spinner {
    animation: rotate 2s linear infinite;
  }
  
  @keyframes rotate {
    0% { transform: rotateY(0deg); }
    100% { transform: rotateY(360deg); }
  }
  