<ion-header [translucent]="true">

  <ion-toolbar style="border-radius: 5%;">
    <ion-title>
      TTMC
    </ion-title>
  </ion-toolbar>
</ion-header>
<!--------------------------------------------------------------Barra de Despliegue---------------------------------->

<!---------------------------------------------------------------------------------------------------------------->

<!--///////////////////////////Pantalla superior-->

  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">TechTrade MarkConnect</ion-title>
    </ion-toolbar>
  </ion-header>


<ion-content>

  <swiper-container>
    
  <swiper-slide>slide 1</swiper-slide>
  <swiper-slide>slide 2</swiper-slide>
  <swiper-slide>slide 3</swiper-slide>
  </swiper-container>


</ion-content>


<!--//////////////////////////////////////////////////////////////Division de pantallas///////////////////////////////////////////////////////////////////-->

<!--///////////////////////////Pantalla Inferior-->

<ion-content>

<article class="card">
  <div class="card-img">
    <div class="card-imgs pv delete"></div>
  </div>

  <div class="project-info">
    <div class="flex">
      <div class="project-title">Title card</div>
      <span class="tag">type</span>
    </div>
    <span class="lighter"
      >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae
      voluptas ullam aut incidunt minima.</span
    >
  </div>
</article>

</ion-content>

<!-- Footer  -->
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button routerLink="/galeria-post">
        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
      </ion-button>
      <ion-button routerLink="/configuracion">
        <ion-icon slot="icon-only" name="construct-outline"></ion-icon>
      </ion-button>
      <ion-button routerLink="/carrito-cliente">
        <ion-icon slot="icon-only"  name="cart-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-back-button defaultHref="/login-cliente">
        <ion-icon slot="icon-only" name="exit-outline"></ion-icon>
      </ion-back-button>
    </ion-buttons>
    <ion-title>Cliente
    </ion-title>
  </ion-toolbar>
</ion-footer>

