

<ion-content fullscreen>
  <div class="cards-container">
    <div class="card" *ngFor="let producto of productos">
      <div class="content">
        <div class="back">
          <div class="back-content">
            <h1>{{ producto.title }}</h1>
          </div>
        </div>
        <div class="front">
          <div class="img">
            <div class="circle"></div>
            <div class="circle" id="right"></div>
            <div class="circle" id="bottom"></div>
          </div>
          <div class="front-content">
            <small class="badge">{{ producto.title }}</small>
            <div class="description">
              <div class="title">
                <p><strong>{{ producto.description }}</strong></p>
                <img [src]="producto.imagen" [alt]="producto.title" />
              </div>
              <p class="title">Stock: {{ producto.stock }}</p>
              <p class="title">Precio: ${{ producto.precio }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Botones de Login -->
</ion-content>
<ion-footer>

    <div class="buttons">
      <ion-button routerLink="/login-cliente" expand="block">Log como Cliente</ion-button>
      <ion-button routerLink="/login-vendedor" expand="block">Log como Vendedor</ion-button>
    </div>

</ion-footer>
