<ion-header [translucent]="true">

  <ion-toolbar style="border-radius: 5%;">
    <ion-title>
      T͓̽e͓̽c͓̽h͓̽Ͳɾąժҽ ͓̽M͓̽a͓̽r͓̽k͓̽↻օղղҽc͓̽է
    </ion-title>
  </ion-toolbar>
</ion-header>
<!--------------------------------------------------------------Barra de Despliegue---------------------------------->

<!---------------------------------------------------------------------------------------------------------------->

<!--///////////////////////////Pantalla superior-->
<ion-content [fullscreen]="false">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">TechTrade MarkConnect</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d238878.5740047553!2d-70.72964769711817!3d-33.54662807633855!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1selectronica%20y%20tecnologia!5e0!3m2!1ses-419!2scl!4v1711646117376!5m2!1ses-419!2scl" width="600" height="240" style="border:2; border-color: gray;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</ion-content>

<!--//////////////////////////////////////////////////////////////Division de pantallas///////////////////////////////////////////////////////////////////-->

<!--///////////////////////////Pantalla Inferior-->
<ion-content [scrollY]="true" style="border:2; border-color: gray;">
  <ion-header>
    <ion-toolbar>
      <ion-title>
        Noticias y Novedades:
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [scrollY]="true">
    <ion-list>
      <ion-item *ngFor="let noticia of noticias">
        <ion-thumbnail slot="start">
          <img [src]="noticia.imagen" alt="Imagen del la Noticia">
        </ion-thumbnail>
        <ion-label>
          <h2>{{ noticia.titulo }}</h2>
          <p>{{ noticia.contenido }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>

</ion-content>


<ion-footer>

  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button routerLink="/galeria-post">
        <ion-icon slot="icon-only" name="clipboard-outline"></ion-icon>
      </ion-button>
      <ion-button routerLink="/configuracion">
        <ion-icon slot="icon-only" name="construct-outline"></ion-icon>
      </ion-button>
      <ion-button routerLink="/bodega-negocio">
        <ion-icon slot="icon-only" name="business-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-back-button defaultHref="/login-vendedor">
        <ion-icon slot="icon-only" name="exit-outline"></ion-icon>
      </ion-back-button>
    </ion-buttons>
    <ion-title>Vendedor
    </ion-title>
  </ion-toolbar>
</ion-footer>
