/* Estilos generales */
h1 {
  text-align: center;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.product-card {
  background-color: #ffffff00;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  width: 300px;
}

.product-card h2 {
  margin-top: 0;
}

.crud-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.crud-btn,
.profile-btn,
.add-product-btn {
  background-color: #4CAF50; /* Verde por defecto */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.profile-btn {
  background-color: #00bfff; /* Azul claro */
}

.add-product-btn {
  background-color: #008CBA; /* Azul */
  margin-top: 20px;
}

.crud-btn:hover,
.profile-btn:hover,
.add-product-btn:hover {
  background-color: #45a049; /* Verde más oscuro al hacer hover */
}

.card {
  position: relative;
  width: 100%; /* Ancho 100% para ocupar el espacio disponible */
  height: auto; /* Altura automática para adaptarse al contenido */
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra horizontalmente */
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
  text-align: center; /* Alineación del texto centrada */
  margin: 8px;
  max-width: 300px; /* Ancho máximo para las cartas */
  box-sizing: border-box; /* Incluye el padding y el borde en el ancho y alto */
}

.card::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: 200px;
  height: 264px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100%);
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

.heading {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 700;
}

.card p:not(.heading) {
  font-size: 14px;
}

.card p:last-child {
  color: #e81cff;
  font-weight: 600;
}

.card:hover::after {
  filter: blur(30px);
}

.card:hover::before {
  transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px; /* Ajusta el padding según tus necesidades */
}








//////////////////////////////////////////////////////////////////Diseño clase gerneral carta producto//////////////////////////////////////////

.product-card-single {
  position: relative;
  width: 100%; /* Ancho 100% para ocupar el espacio disponible */
  max-width: 300px; /* Ancho máximo para las cartas */
  height: auto; /* Altura automática para adaptarse al contenido */
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra horizontalmente */
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
  text-align: center; /* Alineación del texto centrada */
  margin: 8px;
  box-sizing: border-box; /* Incluye el padding y el borde en el ancho y alto */

  /* Estilos adicionales para el gradiente */
  z-index: 0;
  overflow: hidden;
}

/* .product-card-single::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: 200px;
  height: 264px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
} */

/* .product-card-single::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100%);
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
} */

.product-card-single h1,
.product-card-single .heading,
.product-card-single p:not(.heading),
.product-card-single p:last-child {
  margin: 0;
  font-size: 16px; /* Tamaño de fuente general */
  color: #fff; /* Color de texto general */
}

/* .product-card-single h1 {
  font-size: 20px;
  font-weight: bold;
} */

/* .product-card-single .heading {
  font-size: 18px;
  font-weight: 700;
  text-transform: capitalize;
} */

/* .product-card-single p {
  font-size: 14px;
} */

/* .product-card-single p:last-child {
  font-weight: 600;
  color: #e81cff;
} */

/* .product-card-single:hover::after {
  filter: blur(30px);
} */

/* .product-card-single:hover::before {
  transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
} */
