<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/homeVendedor"></ion-back-button>
    </ion-buttons>
    <ion-title>bodega-negocio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title>Mis Productos</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <ion-list class="product-list">
      <ion-item *ngFor="let producto of productos" class="product-card">
        <div class="card">
          <h1>{{ producto.title }}</h1>
          <p class="heading">{{ producto.description }}</p>
          <p><strong>Precio:</strong> {{ producto.precio }}</p>
          <p><strong>Fecha de publicación:</strong> {{ producto.created_at }}</p>
        </div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
